In [73]:
import numpy as np
import pandas as pd
import geopy.distance

In [97]:
customers = pd.read_csv('data/train_customers.csv')
locations = pd.read_csv('data/train_locations.csv')

In [98]:
locations = locations[locations.latitude.between(-90,90)]

In [112]:
locmerge = pd.merge(locations, locations, how='inner', on='customer_id')
locmerge = locmerge[(locmerge.latitude_x!=locmerge.latitude_y) | (locmerge.longitude_x!=locmerge.longitude_y)]
locmerge['distance'] = locmerge.apply(
    lambda row: geopy.distance.geodesic(
        (row['latitude_x'], row['longitude_x']), 
        (row['latitude_y'], row['longitude_y'])).miles,
    axis=1
)
locmerge

,customer_id,location_number_x,location_type_x,latitude_x,longitude_x,location_number_y,location_type_y,latitude_y,longitude_y,distance
1,02SFNJH,0,NaN,1.682392,-78.789737,1,NaN,1.679137,0.766823,5500.161351
2,02SFNJH,0,NaN,1.682392,-78.789737,2,NaN,-0.498648,0.661241,5497.034325
3,02SFNJH,1,NaN,1.679137,0.766823,0,NaN,1.682392,-78.789737,5500.161351
5,02SFNJH,1,NaN,1.679137,0.766823,2,NaN,-0.498648,0.661241,149.808949
6,02SFNJH,2,NaN,-0.498648,0.661241,0,NaN,1.682392,-78.789737,5497.034325
...,...,...,...,...,...,...,...,...,...,...
144739,9PP42SA,4,NaN,-0.001785,0.431695,1,Home,-1.442795,-78.420397,5454.492330
144740,9PP42SA,4,NaN,-0.001785,0.431695,2,NaN,-0.788515,-78.497721,5459.674075
144741,9PP42SA,4,NaN,-0.001785,0.431695,3,Home,-1.445114,0.072558,102.231473
144744,HWELAU8,0,NaN,-0.066291,-78.583075,1,NaN,-0.067043,0.648221,5480.481756
144745,HWELAU8,1,NaN,-0.067043,0.648221,0,NaN,-0.066291,-78.583075,5480.481756

In [40]:
locations.groupby('customer_id').size()

customer_id
000THBA    1
001XN9X    1
001ZNTK    1
002510Y    1
005ECL6    1
          ..
ZZVGIVK    2
ZZVLIB5    3
ZZWKMGG    1
ZZY3N0D    2
ZZYY4EX    1
Length: 35400, dtype: int64

In [114]:
locmerge.groupby('customer_id').distance.mean().mean()

3379.1682916613518